@use '../../foundation/colors';

.f-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    height: 24px;
    width: 24px;
  }

  svg * {
    stroke: currentColor;
  }
}

.f-icon--small svg {
  width: 16px;
  height: 16px;
}

.f-icon--tiny svg {
  width: 12px;
  height: 12px;
}

.f-icon--rotatable {
  transition: transform .2s ease-in-out;
}

.f-icon--rotated-45 {
  transform: rotate(45deg);
}

.f-icon--rotated-180 {
  transform: rotate(180deg);
}

.f-icon--no-stroke {
  svg * {
    stroke: none;
  }
}

.f-icon--success {
  color: colors.$color-srf-green-500;
}
.f-icon--danger {
  color: colors.$color-srf-red-400;
}
.f-icon--retire {
  color: colors.$color-srf-yellow-500;
}
.f-icon--info {
  color: colors.$color-srf-blue-600;
}
.f-icon--white {
  color: colors.$color-srf-neutral-white;
}
.f-icon--light {
  color: colors.$color-srf-warmgrey-300;
}
.f-icon--branding {
  color: colors.$color-srf-red-500;
}
