.f-logo {
  // this space is left empty BEM-tentionally
}

.f-logo__image {
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
