.f-logo {
  // this space is left empty BEM-tentionally
}

.f-logo__image {
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

// some images are not cut perfectly:
.f-logo__image--globi,
.f-logo__image--woody {
  padding: 6px;
}

.f-logo__image--hahn,
.f-logo__image--falk {
  padding: 8px;
}

.f-logo__image--waltraud {
  padding: 5px;
}
