.f-logo {
  // this space is left empty BEM-tentionally
}

.f-logo__image {
  width: 48px;
  height: 48px;
}

.f-logo__image--pitt,
.f-logo__image--falk {
  // image isn't cut perfectly but it's also not final yet
  padding: 8px;
}
