@use '../../foundation/colors';
@use '../../foundation/variables';
@use '../../foundation/mixins';

.f-confirm-button {
  @include mixins.fontSize(16);
}

.f-confirm-button--confirming {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 0;
}

.f-confirm-button__confirmation {
  display: grid;
  grid-gap: 8px;
  grid-auto-flow: column;
  align-items: center;
}

.f-confirm-button__confirmation-text {
  margin: 0;
  @include mixins.fontWeight(500);
}
